*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(240, 232, 232);
}

 .card-container{
    /* display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    flex-wrap: wrap; */

    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 2rem 0; */
    flex-wrap: wrap;

}

.card-container .card{
    /* padding: 2rem;
    margin: 2rem;
    width: 28rem;
    text-align: center;
    background: #fff;
    box-shadow: 0 .3rem .5rem rgba(0, 0 , 0 , .3); */

    padding: 2rem;
    margin: 1rem;
    width: 28rem;
    height: 30rem;
    /* text-align: center; */
    background: #FFF;
    box-shadow: 0 .3rem .5rem rgba(0, 0 , 0 , .3);
    border-radius: 2rem;

}

.card-container .card .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.title h1 , i{
    font-size: 30px;
    cursor: pointer;
}

.test {
    padding: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 12px solid transparent;
    background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
    background-repeat: no-repeat;
    background-image: linear-gradient(white, white), 
                      linear-gradient(30deg, red 100%, lightgrey 30%),
                      linear-gradient(120deg, yellow 106%, lightgrey 30%),
                      linear-gradient(300deg, blue 100%, lightgrey 30%),
                      linear-gradient(210deg, green 100%, lightgrey 30%);
    background-position: center center, left top, right top, left bottom, right bottom;
    background-origin: content-box, border-box, border-box, border-box, border-box;
    background-clip: content-box, border-box, border-box, border-box, border-box;
    transform: rotate(30deg);
    margin: 0 auto;
  }


  /* checkboxes */

  .checkbox{
    /* display: flex; */
    margin: 1rem;
  }

  .main { 
    display: block; 
    position: relative; 
    padding-left: 45px; 
    margin-bottom: 15px; 
    cursor: pointer; 
    font-size: 20px; 
} 
  
/* Hide the default checkbox */ 
input[type=checkbox] { 
    visibility: hidden; 
} 
  
/* Creating a custom checkbox 
based on demand */ 
.geekmark { 
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 25px; 
    width: 25px; 
    background-color: rgb(128, 14, 14); 
    margin-left: 10px;
} 
  
/* Specify the background color to be 
shown when hovering over checkbox */ 
.main:hover input ~ .geekmark { 
    background-color: blue; 
} 
  
/* Specify the background color to be 
shown when checkbox is active */ 
.main input:active ~ .geekmark { 
    background-color: red; 
} 
  
/* Specify the background color to be 
shown when checkbox is checked */ 
.main input:checked ~ .geekmark { 
    background-color: green; 
} 
  
/* Checkmark to be shown in checkbox */ 
/* It is not be shown when not checked */ 
.geekmark:after { 
    content: ""; 
    position: absolute; 
    display: none; 
} 
  
/* Display checkmark when checked */ 
.main input:checked ~ .geekmark:after { 
    display: block; 
} 
  
/* Styling the checkmark using webkit */ 
/* Rotated the rectangle by 45 degree and  
showing only two border to make it look 
like a tickmark */ 
.main .geekmark:after { 
    left: 8px; 
    bottom: 5px; 
    width: 6px; 
    height: 12px; 
    border: solid white; 
    border-width: 0 4px 4px 0; 
    -webkit-transform: rotate(45deg); 
    -ms-transform: rotate(45deg); 
    transform: rotate(45deg); 
} 



/* parent container */

.parent .card-container{
    display: flex;
    justify-content: center;
    margin: 0 3.5rem;
    
}
.child .card{
    width: 59rem;
}



@media (max-width:1440px) {

    .cards .card{
        width: 58rem;
    }
    
}



@media (max-width:940px) {

    .cards .card{
        width: 52rem;
    }
    
}

@media (max-width:840px) {

    .cards .card{
        width: 46rem;
    }
    
}

@media (max-width:760px) {

    .cards .card{
        width: 40rem;
    }
    
}

@media (max-width:640px) {

    .cards .card{
        width: 36rem;
    }
    
}

@media (max-width:598px) {

    .cards .card{
        width: 28rem;
    }
    
}




@media (max-width:460px) {

    .cards .card{
        width: 26rem;
        margin-left: 0 10px;
    }
    
} 


@media (max-width:452px) {

    .cards .card{
        width: 24rem;
    }
    
}

@media (max-width:416px) {

    .cards .card{
        width: 23rem;
    }
    
}


@media (max-width:396px) {

    .cards .card{
        width: 18rem;
    }

    .card-container .card{
        width: 18rem;
    }
    
}


@media (max-width:316px) {

    .cards .card{
        width: 15rem;
    }

    .card-container .card{
        width: 16rem;
    }
    
}